# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [3]:
import pandas as pd
movies_df = pd.read_csv("movies.csv")
movies_df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328.0,12506188.0,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [110]:
Genero = movies_df.sort_values("Major Genre")[["Major Genre", "Worldwide Gross"]]
Soma_Genero = Genero.groupby("Major Genre").sum()
Maior = soma.sort_values("Worldwide Gross", ascending=False)
print("O gênero de filme mais lucrativo em todo mundo foi: ")
Maior.iloc[0:1]

O gênero de filme mais lucrativo em todo mundo foi:

             Worldwide Gross
Major Genre
Adventure       6.608096e+10

### Qual o diretor dirigiu mais filmes?

In [111]:
Diretor = movies_df.sort_values("Director")[["Director", "Title"]]
Contador = Diretor.groupby("Director").count()
Maior = Contador.sort_values("Title", ascending=False)
print("O diretor que dirigiu mais filmes foi:")
Maior.iloc[0:1]

O diretor que dirigiu mais filmes foi:

                  Title
Director
Steven Spielberg     23

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [134]:
# ADICIONE O SEU CÓDIGO AQUI
Gross_Budget = movies_df.sort_values("Title")[["Title", "Worldwide Gross", "Production Budget"]]
Gross_Budget["Lucro"] = Gross_Budget["Worldwide Gross"] - Gross_Budget["Production Budget"]
Maior_Lucro = Gross_Budget.sort_values("Lucro", ascending=False)
print("Os 10 filmes que tiveram maiores arrecadações em relação ao orçamento de produção, foi:")
Maior_Lucro.iloc[0:10]

Os 10 filmes que tiveram maiores arrecadações em relação ao orçamento de produção, foi:

,Title,Worldwide Gross,Production Budget,Lucro
1234,Avatar,2.767891e+09,237000000.0,2.530891e+09
2970,Titanic,1.842880e+09,200000000.0,1.642880e+09
2202,The Lord of the Rings: The Return of the King,1.133027e+09,94000000.0,1.039027e+09
485,Jurassic Park,9.230679e+08,63000000.0,8.600679e+08
1975,Harry Potter and the Sorcerer's Stone,9.764579e+08,125000000.0,8.514579e+08
2741,Shrek 2,9.198388e+08,70000000.0,8.498388e+08
2987,Toy Story 3,1.046341e+09,200000000.0,8.463407e+08
2507,Pirates of the Caribbean: Dead Man's Chest,1.065660e+09,225000000.0,8.406598e+08
1266,The Dark Knight,1.022345e+09,185000000.0,8.373454e+08
2201,The Lord of the Rings: The Two Towers,9.262844e+08,94000000.0,8.322844e+08

In [7]:
mv = movies_df.sort_values("Title")[["Title", "Rotten Tomatoes Rating", "IMDB Rating"]]
mv["Median"] = (mv["Rotten Tomatoes Rating"]+mv["IMDB Rating"])/2
mmv = mv.sort_values("Median", ascending=False)
mmv.iloc[0:10]

                   Title  Rotten Tomatoes Rating  IMDB Rating  Median
369        The Godfather                   100.0          9.2   54.60
591         Modern Times                   100.0          8.5   54.25
874  Singin' in the Rain                   100.0          8.4   54.20
754              Rebecca                   100.0          8.4   54.20
102       The Big Parade                   100.0          8.4   54.20
687    On the Waterfront                   100.0          8.4   54.20
487                 Jaws                   100.0          8.3   54.15
548     The Lost Weekend                   100.0          8.2   54.10
992            Toy Story                   100.0          8.2   54.10
973       The Terminator                   100.0          8.1   54.05

In [9]:
rtr = movies_df.sort_values("Rotten Tomatoes Rating", ascending=False)
rtr.iloc[0:10]

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
926,She Wore a Yellow Ribbon,5400000.0,5400000.0,NaN,1600000.0,1949,NaN,NaN,NaN,NaN,NaN,NaN,John Ford,100.0,7.3,5825.0
120,The Birth of a Nation,10000000.0,11000000.0,NaN,110000.0,8-Feb-15,NaN,NaN,NaN,Based on Book/Short Story,Drama,NaN,NaN,100.0,7.1,8901.0
437,A Hard Day's Night,12299668.0,12299668.0,NaN,560000.0,11-Aug-64,NaN,NaN,Universal,Original Screenplay,Comedy,Contemporary Fiction,NaN,100.0,7.6,15291.0
47,Annie Get Your Gun,8000000.0,8000000.0,NaN,3768785.0,17-May-50,NaN,NaN,MGM,Based on Book/Short Story,Musical,NaN,NaN,100.0,7.1,1326.0
102,The Big Parade,11000000.0,22000000.0,NaN,245000.0,1-Jan-25,NaN,NaN,MGM,Based on Play,Drama,NaN,King Vidor,100.0,8.4,2600.0
369,The Godfather,134966411.0,268500000.0,NaN,7000000.0,15-Mar-72,NaN,NaN,Paramount Pictures,NaN,NaN,Historical Fiction,Francis Ford Coppola,100.0,9.2,411088.0
427,Henry V,10161099.0,10161099.0,NaN,9000000.0,8-Nov-89,PG-13,NaN,Goldwyn Entertainment,Based on Play,Action,Historical Fiction,Kenneth Branagh,100.0,7.9,14499.0
874,Singin' in the Rain,3600000.0,3600000.0,NaN,2540000.0,10-Apr-52,NaN,NaN,MGM,NaN,NaN,NaN,Stanley Donen,100.0,8.4,55352.0
2986,Toy Story 2,245852179.0,484966906.0,NaN,90000000.0,19-Nov-99,G,92.0,Walt Disney Pictures,Original Screenplay,Adventure,Kids Fiction,John Lasseter,100.0,8.0,119357.0
878,Straight out of Brooklyn,2712293.0,2712293.0,NaN,450000.0,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,5.6,263.0

In [10]:
rimdb = movies_df.sort_values("IMDB Rating", ascending=False)
rimdb.iloc[0:10]

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
841,The Shawshank Redemption,28241469.0,2.824147e+07,NaN,25000000.0,23-Sep-94,R,NaN,Sony Pictures,Based on Book/Short Story,Drama,Historical Fiction,Frank Darabont,88.0,9.2,519541.0
369,The Godfather,134966411.0,2.685000e+08,NaN,7000000.0,15-Mar-72,NaN,NaN,Paramount Pictures,NaN,NaN,Historical Fiction,Francis Ford Coppola,100.0,9.2,411088.0
2025,Inception,285630280.0,7.538303e+08,NaN,160000000.0,16-Jul-10,PG-13,147.0,Warner Bros.,Original Screenplay,Thriller/Suspense,Science Fiction,Christopher Nolan,87.0,9.1,188247.0
366,The Godfather: Part II,57300000.0,5.730000e+07,NaN,13000000.0,11-Dec-74,NaN,NaN,Paramount Pictures,NaN,NaN,Historical Fiction,Francis Ford Coppola,NaN,9.0,245271.0
675,One Flew Over the Cuckoo's Nest,108981275.0,1.089813e+08,NaN,4400000.0,19-Nov-75,NaN,NaN,MGM,Based on Book/Short Story,NaN,NaN,Milos Forman,96.0,8.9,214457.0
1266,The Dark Knight,533345358.0,1.022345e+09,234119058.0,185000000.0,18-Jul-08,PG-13,152.0,Warner Bros.,Based on Comic/Graphic Novel,Action,Super Hero,Christopher Nolan,93.0,8.9,465000.0
741,Pulp Fiction,107928762.0,2.129288e+08,NaN,8000000.0,14-Oct-94,R,NaN,Miramax,Original Screenplay,Drama,Contemporary Fiction,Quentin Tarantino,94.0,8.9,417703.0
19,12 Angry Men,0.0,0.000000e+00,NaN,340000.0,13-Apr-57,NaN,NaN,United Artists,Original Screenplay,Drama,NaN,Sidney Lumet,NaN,8.9,119101.0
816,Schindler's List,96067179.0,3.212000e+08,NaN,25000000.0,15-Dec-93,R,NaN,Universal,Based on Real Life Events,Drama,Dramatization,Steven Spielberg,97.0,8.9,276283.0
2987,Toy Story 3,410640665.0,1.046341e+09,NaN,200000000.0,18-Jun-10,G,102.0,Walt Disney Pictures,Original Screenplay,Adventure,Kids Fiction,NaN,99.0,8.9,67380.0